

/* ==========================================================================
   My Little Project's custom styles
   ========================================================================== */

/* 
 We are going to start  writing the styles from here
 */

body{
    background-color: #ecf0f1;
}

.river{
    background:#3498db !important;
}

.alizarin{
    background: #e74c3c !important;
}

.midnight{
    background: #2c3e50 !important;
}

.ghost{
    
    text-shadow: none;
    font-weight: 900;
    background: transparent;
    color: #050404;
    border-color:#050404;
    border: 2px solid;
    /* CSS Transition */
    -webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
    -moz-transition: background .2s ease-in-out, border .2s ease-in-out;
    -ms-transition: background .2s ease-in-out, border .2s ease-in-out;
    -o-transition: background .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, border .2s ease-in-out;
    margin: 100px 0px;
    margin-bottom: 0px;

}

.ghost:hover{

}

#banner{
    background-image: url("../img/banner3.jpg");
    background-size: 100%;
    background-position: 0px -500px;
}

.text-white{
    color:white !important;
}










