

/* ==========================================================================
   My Little Project's custom styles
   ========================================================================== */

/* 
 We are going to start  writing the styles from here
 */

.river{
    background:#3498db !important;
}

.alizarin{
    background: #e74c3c !important;
}

.midnight{
    background: #2c3e50 !important;
}

.ghost{

	background: transparent;
	color: #F2F2F2;

	/* CSS Transition */
	-webkit-transition: background .2s ease-in-out, border .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, border .2s ease-in-out;
	-ms-transition: background .2s ease-in-out, border .2s ease-in-out;
	-o-transition: background .2s ease-in-out, border .2s ease-in-out;
	transition: background .2s ease-in-out, border .2s ease-in-out;

}

#banner{
    background-image: url("../img/banner3.jpg");
    background-size: 100%;
    background-position: 0px -500px;
}











