

/* ==========================================================================
   My Little Project's custom styles
   ========================================================================== */

/* 
 We are going to start  writing the styles from here
 */

.river{
    background:#3498db !important;
}

.alizarin{
    background: #e74c3c !important;
}

.midnight{
    background: #2c3e50 !important;
}














