body{
	background-color: white !important;
	background-image: url("img/overlay.png") !important;
	background-repeat: repeat, no-repeat;
	background-size: auto;
	background-position: top left, center 0;
	background-attachment: fixed, fixed;
}
div.container{
	margin-right: 10% !important;
 	margin-left: 10% !important;
}
div.pannel{
	margin-top: 80px !important;
}
nav.navbar{
	background-color: black !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
div.header-icon{
	float: right;

}
img.icon{
	margin-top: 3px;
}

img#icon-fb{
	max-width: 10%;
	float: right;
	margin-right: 5px;
	position: relative;
}
img#icon-insta{
	max-width: 9.8%;
	float: right;

}


img#prodct{
	max-width: 110%;
	max-height: 110%;
}

div.producto:hover{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 3px;
	height: 25% !important;
  	width: 27% !important;
  	float: left;
  	transform : scale(1);
    -moz-transform : scale(1);      /* Firefox */
    -webkit-transform : scale(1);   /* Chrome - Safari */
    -o-transform : scale(1);
}
div.producto{
	
	margin: 3px;
	height: 25% !important;
  	width: 25% !important;
  	float: left;
  	transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;

}
p#price{
	font-family: monospace;
	font-size: 14px;
	color: black;
	font-style: bold;
}

.container {
  width: 1500px !important;
}

li#lista{
	font-family: "courier_primeregular","Courier",Courier,Arial,sans-serif;
	color: white;
	font-size: 20px;
	list-style: none !important;
	float: left;
	margin-right: 40px;	
	margin-top: 15px;
}

ul.top-section{
	display: block !important;
	float: left;
	
}
 .navbar #navbar-header ul li{
 	float: left;
 	display: block !important;
 }
 a{
 	color: white !important;
 	text-decoration: none !important;
 }


