body{
	background-color: white !important;
	background-image: url("img/overlay.png") !important;
	background-repeat: repeat, no-repeat;
	background-size: auto;
	background-position: top left, center 0;
	background-attachment: fixed, fixed;
}
div.container{
	margin-right: 10% !important;
 	margin-left: 10% !important;
}
div.pannel{
	margin-top: 80px !important;
}
nav.navbar{
	background-color: black !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}
div.header-icon{
	float: right;

}
img.icon{
	margin-top: 3px;
}

img#icon-fb{
	max-width: 10%;
	float: right;
	margin-right: 5px;
	position: relative;
}
img#icon-insta{
	max-width: 9.8%;
	float: right;

}


img#prodct{
	max-width: 110%;
	max-height: 110%;
}

div.producto:hover{
	border-color: black;
	border-width: 2px;
	border-style: solid;
	margin: 3px;
	height: 25% !important;
  	width: 27% !important;
  	float: left;
  	transform : scale(1);
    -moz-transform : scale(1);      /* Firefox */
    -webkit-transform : scale(1);   /* Chrome - Safari */
    -o-transform : scale(1);
}
div.producto{
	
	margin: 3px;
	height: 25% !important;
  	width: 25% !important;
  	float: left;
  	transition: width 1s, height 1s, transform 1s;
    -moz-transition: width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
    -o-transition: width 1s, height 1s,-o-transform 1s;

}
p#price{
	font-family: monospace;
	font-size: 14px;
	color: black;
	font-style: bold;
}

.container {
  width: 1500px !important;
}

li#lista{
	font-family: "courier_primeregular","Courier",Courier,Arial,sans-serif;
	color: white !important;
	font-size: 20px;
	list-style: none;
	float: left;
	margin-right: 40px;	
	margin-top: 15px;
}

ul.top-section{
	display: block !important;
	float: left;
	
}
 .navbar #navbar-header ul li{
 	float: left;
 	display: block !important;
 }
 a{
 	color: black;
 	text-decoration: none !important;
 }

/*FOOTER*/

.mib {
    position: relative;
    left: 27%;
    width:900px;
    list-style: none !important;
    height:120px;
    background:transparent;
    top:-15%;
 }
.mib ul li{
    float:left;
}
.mib ul li a{
    display:inline-block;
    text-decoration:none !important;
    padding:10px 30px;
    color:black;
    font-size:40px;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    }


.mib ul li .icon-facebook:hover{
    color:#3A5795;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mib ul li .icon-twitter:hover{
    color:#5EA9DD;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mib ul li .icon-instagram:hover{
    color:#967459;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mib ul li .icon-youtube:hover{
    color:#E22C29;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mib ul li .icon-spotify-with-circle:hover{
    color:#96CC52;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.mib ul li .icon-soundcloud:hover{
    color:#F85A10;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
h5 {
    padding-bottom: 50px;
    position:relative;
    text-align: center;
    color:black !important;
    font-family: 'Josefin Sans', sans-serif;
    
}
h5 a{
    text-decoration:none;
    color:white;
    border-bottom: 1px dotted white;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
     
}
h5 a:hover{
    color:#2FC688;
    border-bottom: 1px dotted #2FC688;
    -webkit-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}


