'{
	margin:0px;
	padding:0px;
}
div#general{
	margin:auto;
	width:921px;
	height:900px;
	background-color:white;
}

div#cabecera{
	float:left;

}
div#banner1{
	float:left;
	margin-top:2px;
}

div#banner2{
	margin-top:2px;
	float:left;
	
}
div#banner3{
	margin-top:-70px;
	float:left;
	
}
div#lateral{
	margin-top:2px;
	float:left;
}


div#laterall{
	margin-top:-90px;
	float:left;	

}

div#lateralll{
	margin-top:-2px;
	float:left;
}